
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="~/scripts/angular_1_router.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/component/reviewList/reviewListController.js"></script>
</head>
<body ng-app="smartpark">
    <div> 
        {{2+2}}
    </div>
    <review-list></review-list>
</body>
</html>
